/*The Map CSS*/

body {
	background-color: #B1D3A7;
}
/*defined height for map container*/
#map {
	height: 525px;
	width: 50%;
	display: inline-block;
	margin-top: 5px;
	border: solid gray 2px;
	
}

.sequence-control-container {
	width: 300px;
	height: 25px;
	background-color: rgba(255,255,255,0.65);
	padding: 6px;
	line-height: 45px;
	text-align: center;
	border: solid gray 1px;

}

.legend-control-container {
	width: 150px;
	height: 130px;
	background-color: rgba(255,255,255,0.65);
	padding: 10px;
	line-height: 15px;
	text-align: center;
	border: solid gray 1px;
}

.legend-control-container.leaflet-control {
	margin-right: 6px;
	margin-bottom: 6px;
	padding-right: 10px;
	width: 175px;
	height: 100px;

}

.sequence-control-container.leaflet-control {
	margin-right: 6px;
	margin-bottom: 6px;
}

#temporal-legend {
	height: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 13px;

}

#attribute-legend {
	height: 80px;
	width: 160px;
	margin: 0px;
	position: relative;
	bottom: 0;
	left: 0;
	font-family: 'Roboto Slab', serif;
	font-size: 12px;

}

.overlayText {
	font-family: 'Roboto Slab', serif;
}

.popupStyle {
	font-family: 'Roboto Slab', serif;
	/*color: #383A38;*/
}

/*working wiht popup content*/
.leaflet-popup-content p {
	margin: 0.2em 0;
}

#panel {
	width: 35%;
	padding: 10px;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	font-family: 'Roboto Slab', serif;
	line-height: 25.5px;
	background-color: #BFBFBF;
	border: 2px solid;
	border-color: gray;
}

.range-slider {
	width: 150px;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

.header {
	color: white;
	background-color: black;
	padding: 1px;	
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

#sources {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}

#notes {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
	line-height: 18px;

}

#panelText {
	line-height: 12px;
}
