/*The Map CSS*/

body {
	background-color: gray;
}
/*defined height for map container*/
#map {
	height: 525px;
	width: 50%;
	display: inline-block;
	margin-top: 5px;
}

.sequence-control-container {
	width: 300px;
	height: 25px;
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	line-height: 45px;
	text-align: center;
	border: solid gray 1px;
}

.legend-control-container {
	width: 150px;
	height: 100px;
	background-color: rgba(255,255,255,0.5);
	padding: 10px;
	line-height: 15px;
	text-align: center;
	border: solid gray 1px;
}


/*working wiht popup content*/
.leaflet-popup-content p {
	margin: 0.2em 0;
}

#panel {
	width: 25%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 42px;
	font-family: 'Roboto Slab', serif;
	line-height: 25px;
	
}

.range-slider {
	width: 150px;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

.header {
	color: white;
	background-color: black;
	padding: 1px;	
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

#sources {
	font-family: 'Roboto Slab', serif;
	font-size: 12px;
}


